### Pandas Data Types
Accompanying the PB Python article [here](http://pbpython.com/pandas_dtypes.html)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://github.com/chris1610/pbpython/blob/master/data/sales_data_types.csv?raw=True")
# reads in the csv

In [3]:
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,N

Use df.info and df.dtypes to look at the types that pandas automatically infers based on the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 532.0+ bytes

In [5]:
df.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

Since the 2016 and 2017 columns were read in as objects, trying to add the values will result in string concatenation not numerical addition

In [6]:
df['2016'] + df['2017'] # concats the strings, does not add the values together

0      $125,000.00$162500.00
1    $920,000.00$101,2000.00
2        $50,000.00$62500.00
3      $350,000.00$490000.00
4        $15,000.00$12750.00
dtype: object

The simplest way to to convert to a type is using astype.

We can apply it to the customer number first.

In [25]:
df['Customer Number'].astype('int') # convert all values in Customer Number column to ints

0     10002
1    552278
2     23477
3     24900
4    651029
Name: Customer Number, dtype: int64

In [26]:
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,N

The code above does not alter the original dataframe

In [7]:
df.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

Assign the new integer customer number back to the original frame and check the type

In [27]:
df["Customer Number"] = df['Customer Number'].astype('int') # assign new Customer Number to original Customer Number
df.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [8]:
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,N

The data all looks good for the Customer Number.

If we try to convert the Jan Units column, we will get an error.

In [9]:
df['Jan Units'].astype('int')

ValueError: invalid literal for int() with base 10: 'Closed'

In a similar manner we get an error if we try to convert the sales column

In [10]:
df['2016'].astype('float')

ValueError: could not convert string to float: '$125,000.00'

We can try to use astype with a bool type but that does not give expected results

In [11]:
df['Active'].astype('bool') # returns True because there are values in every row of the column

0    True
1    True
2    True
3    True
4    True
Name: Active, dtype: bool

In [14]:
# astype can take a dictionary of column names and data types
df.astype({'Customer Number': 'int', 'Customer Name': 'str'}).dtypes # using a dictionary with astype to change data types

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In order to convert the currency and percentages, we need to use custom functions

In [15]:
def convert_currency(val):
    """
    125000.00
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [16]:
def convert_percent(val):
    """
    Convert the percentage string to an actual floating point percent
    """
    new_val = val.replace('%', '')
    return float(new_val) / 100

Use apply to convert the 2016 and 2017 columns to floating point numbers

In [17]:
df['2016'].apply(convert_currency) # call the convert_currency in the apply method to convert values in '2016' columnn to floats

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [18]:
df['2017'].apply(convert_percent) # call the convert_percent in the apply method to convert values in '2016' columnn to floats

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

In [20]:
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,N

In [37]:
df['2016'].apply(convert_currency) + df['2017'].apply(convert_currency)
# converting the values in the 2016 and 2017 columns to floats and adding the columns together

0     287500.0
1    1932000.0
2     112500.0
3     840000.0
4      27750.0
dtype: float64

We could use a lambda function as well but it may be more difficult for new users to understand

In [21]:
df['2016'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [22]:
# Assign the converted values back to the columns
df['2016'] = df['2016'].apply(convert_currency)
df['2017'] = df['2017'].apply(convert_currency)

In [23]:
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,125000.0,162500.0,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,920000.0,1012000.0,10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,50000.0,62500.0,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,350000.0,490000.0,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,15000.0,12750.0,-15.00%,Closed,2,2,2014,N

Use a lambda function to convert the percentage strings to numbers

In [27]:
df['Percent Growth'] = df['Percent Growth'].apply(lambda x: str(x).replace('%', '')).astype('float') / 100
# doesn't work no replace attribute

In [28]:
df['Percent Growth'] = df['Percent Growth'].apply(convert_percent)

AttributeError: 'float' object has no attribute 'replace'

In [29]:
df.dtypes # return data types in DataFrame

Customer Number    float64
Customer Name       object
2016               float64
2017               float64
Percent Growth     float64
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [30]:
# Let's look at the data so far
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,125000.0,162500.0,0.000030,500,1,10,2015,Y
1,552278.0,Smith Plumbing,920000.0,1012000.0,0.000010,700,6,15,2014,Y
2,23477.0,ACME Industrial,50000.0,62500.0,0.000025,125,3,29,2016,Y
3,24900.0,Brekke LTD,350000.0,490000.0,0.000004,75,10,27,2015,Y
4,651029.0,Harbor Co,15000.0,12750.0,-0.000015,Closed,2,2,2014,N

pd.to_numeric is another option for handling column conversions when invalid values are included

In [31]:
pd.to_numeric(df['Jan Units'], errors='coerce') # if coerce invalid parsing will be set as NaN

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan Units, dtype: float64

In [32]:
# Fill in the NaN with 0
pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0) # filling cells filled with NaN from coerce to 0

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: Jan Units, dtype: float64

Make sure to populate the original column of data

In [33]:
df["Jan Units"] = pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

pd.to_datetime is very useful for working with date conversions

In [34]:
df[ ['Month', 'Day', 'Year'] ] # return DataFrame of Month Day Year columns and the corresponding rows

   Month  Day  Year
0      1   10  2015
1      6   15  2014
2      3   29  2016
3     10   27  2015
4      2    2  2014

In [35]:
pd.to_datetime(df[['Month', 'Day', 'Year']]) # convert the row values to datetime format

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [37]:
df["Start_Date"] = pd.to_datetime(df[['Month', 'Day', 'Year']]) # convert the values in Start_Date column to datetime format

In [38]:
# Check out the dataframe
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active,Start_Date
0,10002.0,Quest Industries,125000.0,162500.0,0.000030,500.0,1,10,2015,Y,2015-01-10
1,552278.0,Smith Plumbing,920000.0,1012000.0,0.000010,700.0,6,15,2014,Y,2014-06-15
2,23477.0,ACME Industrial,50000.0,62500.0,0.000025,125.0,3,29,2016,Y,2016-03-29
3,24900.0,Brekke LTD,350000.0,490000.0,0.000004,75.0,10,27,2015,Y,2015-10-27
4,651029.0,Harbor Co,15000.0,12750.0,-0.000015,0.0,2,2,2014,N,2014-02-02

Use np.where to convert the active column to a boolean

In [44]:
df["Active"] = np.where(df["Active"] == "Y", True, False) 
# convert the values in the Active column that == Y to True, else False

In [45]:
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active,Start_Date
0,10002.0,Quest Industries,125000.0,162500.0,0.000030,500.0,1,10,2015,False,2015-01-10
1,552278.0,Smith Plumbing,920000.0,1012000.0,0.000010,700.0,6,15,2014,False,2014-06-15
2,23477.0,ACME Industrial,50000.0,62500.0,0.000025,125.0,3,29,2016,False,2016-03-29
3,24900.0,Brekke LTD,350000.0,490000.0,0.000004,75.0,10,27,2015,False,2015-10-27
4,651029.0,Harbor Co,15000.0,12750.0,-0.000015,0.0,2,2,2014,False,2014-02-02

In [46]:
df.dtypes

Customer Number           float64
Customer Name              object
2016                      float64
2017                      float64
Percent Growth            float64
Jan Units                 float64
Month                       int64
Day                         int64
Year                        int64
Active                       bool
Start_Date         datetime64[ns]
dtype: object

Many of the examples shown above can be used when reading in data using dtypes or converters arguments

In [48]:
df_2 = pd.read_csv("https://github.com/chris1610/pbpython/blob/master/data/sales_data_types.csv?raw=True", 
                   dtype={'Customer Number':'int'},
                   converters={'2016':convert_currency,
                               '2017': convert_currency,
                               'Percent Growth': convert_percent,
                               'Jan Units': lambda x: pd.to_numeric(x, errors='coerce'),
                               'Active': lambda x: np.where(x == "Y", True, False)
                              })
# reading in the csv to df_2, setting the Customer Number to int, calling the convert functions on
# each column's rows

In [49]:
df_2.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth     float64
Jan Units          float64
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [50]:
df_2

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002,Quest Industries,125000.0,162500.0,0.30,500.0,1,10,2015,True
1,552278,Smith Plumbing,920000.0,1012000.0,0.10,700.0,6,15,2014,True
2,23477,ACME Industrial,50000.0,62500.0,0.25,125.0,3,29,2016,True
3,24900,Brekke LTD,350000.0,490000.0,0.04,75.0,10,27,2015,True
4,651029,Harbor Co,15000.0,12750.0,-0.15,NaN,2,2,2014,False

In [51]:
# This can not be applied at the time the data is read in
df_2["Start_Date"] = pd.to_datetime(df_2[['Month', 'Day', 'Year']])

In [52]:
df_2

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active,Start_Date
0,10002,Quest Industries,125000.0,162500.0,0.30,500.0,1,10,2015,True,2015-01-10
1,552278,Smith Plumbing,920000.0,1012000.0,0.10,700.0,6,15,2014,True,2014-06-15
2,23477,ACME Industrial,50000.0,62500.0,0.25,125.0,3,29,2016,True,2016-03-29
3,24900,Brekke LTD,350000.0,490000.0,0.04,75.0,10,27,2015,True,2015-10-27
4,651029,Harbor Co,15000.0,12750.0,-0.15,NaN,2,2,2014,False,2014-02-02